* {
    font-family: sans-serif;
}

/* range */
.range {
    width: 200px;
    height: 5px;
    border-radius: 25px;
    background: #c4e0ff;
    position: relative;
    margin-top: 90px;
    margin-left: 90px;
}

.range label {
    top: 0;
    position: absolute;
}

.range .touch-range {
    top: -5px;
    left: 0;
    width: 15px;
    cursor: pointer;
    height: 15px;
    z-index: 999;
    background: #0077ff;
    position: absolute;
    border-radius: 50%;
    transition: scale .2s ease;
}

.range .touch-range:active {
    transform: scale(1.3);
    cursor: pointer;
    box-shadow: 0 0 0 10px rgba(0, 119, 255, 0.342);
}

.range-back {
    width: 0px;
    height: 5px;
    position: absolute;
    border-radius: 25px;
    background: #0077ff;
}

.mb:hover {
    height: 30px !important;
}

.mb {
    width: 200px;
    margin-top: 30px;
    height: 10px;
    transition: height .1s ease;
    overflow: hidden;
}

.mb .m {
    pointer-events: none;
    opacity: 0;
}
.mb:active {
    height: 30px !important;
}
.mb .touch-range ~ .range-back {
    top: 0;
    margin: 0;
    border-radius: 0;
    height: 30px !important;
}

.al {
    height: 3px;
    background: #e0e0e0 !important;
}

.range .al {
    background: #07B3FF !important;
}

.alt {
    margin-top: -2px;
    background: #fff !important;
    border: solid 2px #07B3FF;
}

.alt:active {
    margin-top: -2px;
    box-shadow: none !important;
}

.title {
    margin: 5px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-gray {
    color: gray;
}